<header class="site-head" role="banner">
    <div class="wrapper">
        <div class="site-head__inner">
            <a href="/index.html" aria-label="logo" class="site-head__brand">
                <img src="./img/logo.png" alt="logo" class="site-head__logo"/>
            </a>
            <burger-menu max-width="600">
                <nav class="navigation" aria-label="primary">
                    <ul role="list">
                        <li>
                            <a href="./index.html" class="element_menu hover-underline-animation">I miei lavori</a>
                        </li>
                        <li>
                            <a href="./about_me.html" class="element_menu hover-underline-animation">About Me</a>
                        </li>
                        <li>
                            <a href="./contact.html" class="element_menu hover-underline-animation">Contatti</a>
                        </li>
                    </ul>
                </nav>

            </burger-menu>
        </div>
    </div>

</header>

